@media (max-width: 932px) {
    .container-inicio{
        width: 49.5rem;
    }

    .titulo{
        margin-left: 11rem;
    }

    .img-mapa{
        display: none;
    }

    .main-nav{
        margin-top: 0.6rem;
    }

    .silueta{
        margin-top: 2rem;
    }

    .main-nav-items{
        display: block;
        padding: 5px;
        border-right: 2px solid #ffffff;
    }

    .container-info{
        width: 49rem;
        display: flex;
        flex-direction: column;
        margin-top: 9rem;
    }

    .container-item{
        width: 47.2rem;
    }

    .inp{
        width: 30rem;
    }

    #ingresar{
        width: 18rem;
    }

    .media{
        width: 44rem;
    }

    .media-img{
        margin-left: 18rem;
    }

    .item4{
        display: none;
    }
}

